@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

$primary-color: #ad0000;
@import url(http://fonts.googleapis.com/css?family=Fenix);

h1, h2, h3, h4, h5 {
	color: $primary-color;
}

.post-preview {
	border-bottom: solid $primary-color;
}

a, a:visited {
	color: darken($primary-color, 30%);
}

article {
	h1.title{
		font-style: italic;
	}
	time {
	  padding: 4px;
	  border: 2px solid darken($primary-color, 10%);
	  @include border-radius(5px);
	  font: {
		weight: bold;
		family: Fenix, sans-serif;
		size: 0.8em;
	  }
	}
	.body {
	  color: red + blue;
	  p { line-height: 1.5em; }
	}
}



















